@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Pacifico&display=swap');

body{
    background-color:darkslategrey;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Croissant One', cursive;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: aliceblue;
    align-items: center;
    overflow: auto;
}

nav ul li{
    padding: 0 22px;
}

.brand img{
    width: 63px;
    padding: 0 12px 0 0;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 69vh;
    background-color: black;
    color: white;
    font-family: 'Pacifico', cursive;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 13px;
    padding: 10px 34px;
    background-image: url(https://images6.alphacoders.com/133/1330235.png);
    background-size: cover;
}

.horizontalAdjustment{
    min-width: 35vw;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 18px;
}

.icons i{
    cursor: pointer; /*This is used so that when you move your moise pointer to any icons it changes into hand pointer*/
}

#myProgressBar{
    width: 80vw;
}

.songItem{
    cursor: pointer;
    max-height: auto;
    display: flex;
    width: 80%;
    background-color: white;
    color: black;
    margin: 12px 12px 35px 12px;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    flex-direction: row;
    border-radius: 13px;
}

.songItem img{
    width:40px;
    border-radius: 100px;
}

.songInfo{
    position: absolute;
    left: 11vw;
    margin-top: 10px; 
}

.songInfo img{
    opacity: 1; 
    transition: opacity 1s ease-in;
}